@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400&display=swap');
.filter-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 55px;
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .filter-container h2 {
   
    font-size: 24px;
    color: #333;
    margin-right: 100px;
  }
  
  .filter-group {
    margin-left: 20px;
    display:flexbox;
   
  }
  
  .filter-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .filter-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  .filter-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  