@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400&display=swap');
.footer {
    background-color: #003C43;
    color: white;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer .container {
    
    justify-content: center;
    align-items: center;
    margin-left: 10%;   
    background-color: #003C43;
    width: 100%;
    box-shadow: none;
  }
  
  .footer .footer-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
  }
  
  .footer .footer-links{
    
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  .footer .footer-social {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .footer .footer-links li,
  .footer .footer-social li {
    margin-right: 20px;
  }
  
  .footer .footer-links li a,
  .footer .footer-social li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer .footer-links li a:hover,
  .footer .footer-social li a:hover {
    color: #fff;
  }
  
  .footer .footer-social li a {
    font-size: 1.2rem;
  }
  .hr{
    color: #77B0AA;
    color:#77B0AA;
      border-bottom: 2px solid #77B0AA;
      border-radius: 10px;
      width: 90%;
      margin: 20px auto;
      
   
  }
  h5{
    color:#77B0AA;
  }
  h4{
    font-size: 1.2rem;
    color: #E3FEF7;
  }
  .footer-logo #trash{
    margin-left: 0%;
    margin-right: 10px;
  }


  
 