@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@200;300;400&display=swap');
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;

}

.hero-content {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  text-align: left;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  z-index: 3;
  position: absolute;

}

.hero-text {
  flex: 1;
  padding: 20px;
  z-index: 3;

}

#text {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.05vw #E3FEF7;
  color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
 
  
}

#text::before {
  content: attr(data-fill-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #003C43;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-text-stroke: 0px transparent;
  transition: width 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1  ;
}

#text:hover::before {
  width: 100%;
}


.hero p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-align: center;
}

.hero .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  margin: 5px;
  background-color: #135D66;
  border-color: #135D66;
}

.hero-section {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 0;

}
.hero-text h1{
  z-index: 1;
}
.hero-overlay img{
  width: 70%;

}