.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background:url('../Images/background.jpeg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 20px;
    
  }
  #text{
    margin-right: 30px;
    margin-top: 350px;
  }
  
  .hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px;
    color:#4D869C;
  }
  
  .hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: right;
  }
  
  .hero .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    margin: 5px;
  }
  
  .bento-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
  }
  
  .bento-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bento-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .bento-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .bento-item h3 {
    font-size: 1.25rem;
    color: #333;
  }
  #buttons{
    margin-right: 30px;
  }
  