.container {
    background-color:rgba(119, 176, 170,0.95);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:30%;
    
    
}
.container .btn {
    background-color: #003C43;
    border-color: #4D869C;
}
.btn:hover {
    background-color: #CDE8E5;
    border-color: #4D869C;
    color: #003C43;
    text-decoration: solid;
}
.form-group{
    margin-bottom: 20px;
    min-width: fit-content;
}
.nav-link {
    transition: color 0.2s ease, transform 0.2s ease, font-weight 0.2s ease;
  }
  
.nav-link:hover {
    color: #4D869C;
    transform: scale(1.1);
    font-weight: bold;
  }